body {
	background: url(back.jpg);
}
.wrapper{
	background: white;
	margin-left: 30%;
	margin-top: 10%;
	width: 35%;
	height: 52%;
	border-radius: 2%;
	min-width: 30%;
	min-height: 30%;
	max-height: 60%;
}
.wrapper2{
	background: white;
	margin-left: 30%;
	margin-top: 10%;
	width: 35%;
	height: 52%;
	border-radius: 2%;
	min-width: 30%;
	min-height: 30%;
}

#text_login{
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 800;
	padding-top: 10%;
	width: 100%;
	text-align: center;
}
.input{
	text-indent: 3%;
	color: black;
	font-family: serif;
	font-weight: 700;
	background-color: #f1f1f1;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 18px;
	border-radius: 4px;
	width: 85%;
	height: 13%;
}
#input_field{
	color: black;
}
#wrong{
	background: pink;
	color: red;
	border-radius: 2%;
}
.button{
	border-radius: 35em;
	font-size: 1em;
	background: #ed4159;
	color: white;
	font-family: serif;
	padding: 2%;
	width: 30%;
}
#button_logout_div{
	width: 100%;
	height: 15%;
	position:relative;
	top: 37%;
}
#button_logout{
	border-radius: 35em;
	font-size: 1.4em;
	background: #ed4159;
	color: white;
	font-family: serif;
	padding: 2%;
	position:relative;
	left: 35%;
	width: 30%;
}
#user_name{
	width: 100%;
	font-size: 1.9em;
	font-weight: bold;
	font-family: serif;
	text-align: center;
	position: relative;
	top: 15%;
	
}
#block_ava_username_button{
	width: 100%;
	height: 100%;
}
#ava{
	width: 100%;
	text-align: center;
	position: relative;
	top: 10%;
}
#button_login{
	width: 100%;
	text-align: center;
	position: relative;
	top: 10%;
}