body {
	background: url(back.jpg);
}
.wrapper{
	background: white;
	display: block;
	margin-left: 30%;
	margin-top: 10%;
	width: 35%;
	height: 52%;
	border-radius: 2%;
}
#loggedin{
	display: none;
	margin-left: 45%;
	margin-top: 25%;
	
}

#text_login{
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 800;
	margin-left: 40%;
	padding-top: 10%;
}
.input{
	text-indent: 3%;
	color: black;
	font-family: serif;
	font-weight: 700;
	background-color: #f1f1f1;
	margin-left: 5%;
	margin-top: 3%;
	font-size: 18px;
	border-radius: 5%;
	width: 85%;
	height: 13%;
}
#wrong{
	display: none;
	background: pink;
	color: red;
	border-radius: 2%;
}
.button{
	margin-left: 35%;
	border-radius: 15%;
	font-size: 24px;
	background: #ed4159;
	color: white;
	font-family: serif;
	padding: 2%;
	width: 30%;
	height: 17%;
}